.card {
  display: flex;
  flex-direction: column;
  color: #1f1f1f;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px 0 0 0;
  &:hover {
    border: 1px solid #317ae8;
  }
}

.name {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 12px 0 0 16px;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 12px 16px 0 16px;
  padding-bottom: 16px;
  .price {
    font-size: 16px;
    line-height: 22px;
  }
  .rating {
    display: flex;
    align-items: center;
    .ratingNum {
      padding-left: 5px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
