.row {
  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 0 0;
}
.burgerMenu {
  position: relative;
  width: 28px;
  height: 28px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  top: 3px;
  cursor: pointer;
}
.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 32px;
}
@media (max-width: 600px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }
}
