.footer {
  height: 100px;
  background: #ffffff;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 12px 12px 0px 0px;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    cursor: pointer;
  }
}
.active {
  svg path {
    stroke: #317ae8;
  }
}
